@page
@model SecondSemesterProject.Pages.Members.FamilyGroup.UpdateFamilyGroupModel
@{
    ViewData["Title"] = "Opdater Familiegruppe";
}

<p>@Model.InfoText</p>

<h1>Opdater familiegruppe: @Model.FamilyGroupID</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All">
                <div class="form-group">
                    <label>Vælg max 5 medlemmer</label>
                    @for (int i = 0; i < 5; i++)
                    {
                        <select asp-for="@Model.MembersID[i]" asp-items="@Model.Options" class="form-control"></select>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Opdater" class="btn btn-primary" />
                    <a asp-page="/Members/FamilyGroups/Index"><input type="button" value="Tilbage" class="btn btn-light" /></a>
                </div>
            </div>
        </form>
    </div>
</div>