@page
@model SecondSemesterProject.Pages.ShiftTypes.CreateShiftTypeModel
@{
    ViewData["Title"] = "Opret vagttype";
}

<h1>Opret vagttype</h1>

<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.shiftType.Name"></label>
                <input asp-for="@Model.shiftType.Name"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.shiftType.Color"></label>
                <input type="color"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret VagtType"/>
                <a asp-page="/ShiftTypes/GetAllShiftType" ><input type="button" value="Anuller" style="background-color:tomato"/></a>
            </div>
        </form>
    </div>
</div>