@page

@using SecondSemesterProject.Models
@model SecondSemesterProject.Pages.ShiftTypes.GetAllShiftTypeModel
@{
    ViewData["Title"] = "Vagttyper";
}

<p>
    <a asp-page="/ShiftTypes/CreateShiftType">Opret Vagttype</a>
</p>

<h1>Vagt Typer</h1>


<table class="table">
    <thead>
    <th>
            Vagttype
        </th>
        <th>
            Farve
        </th>
    <tbody>
        @if (Model.ShiftTypes.Count != 0)
        {
            foreach (var item in Model.ShiftTypes)
            {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <div style="background-color:#@item.Color.ToArgb().ToString("X").Substring(2); width: 100px; height: 16px"></div>
            </td>
            <td>
                <a asp-page="/Shifttypes/UpdateShiftType" asp-route-shiftTypeId="@item.ShiftTypeId">Opdater</a>
            </td>
            <td>
                <a asp-page="/Shifttypes/DeleteShiftType" asp-route-shiftTypeId="@item.ShiftTypeId">
                    <input class="btn-danger" type="submit" value="Slet" />
                </a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>