@page
@model SecondSemesterProject.Pages.Login.LogoutModel
@{
    ViewData["Title"] = "Log Ud";
}

<h1>Log ud</h1>

<form method="post">
    <div class="form-group">
        <label class="control-label">Er du sikker på at du wil logge ud @Model.Member.Name?</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Log Ud" class="btn btn-danger" />
        <a asp-page="/Profiles/Profile">
            <input type="button" value="Tilbage" class="btn btn-light" />
        </a>
    </div>
</form>